<div *ngIf="blueprint" class="z-depth-1 bg-white p-2 mx-auto w-75 row" style="height: 800px">
  <div id="BlueprintData" class="w-25 p-2 border-right h-100">
    <div>
      Blueprint: {{blueprint.Name}}
    </div>
    <div class="md-form">
      <input type="text" name="BlueprintName" class="form-control" mdbInput id="TitleInput" />
      <label for="TitleInput" class="">Name</label>
    </div>
    <div class="md-form">
      <textarea type="text" id="DescriptionInput" class="md-textarea form-control" mdbInput></textarea>
      <label for="DescriptionInput">Description</label>
    </div>
    <div class="md-form">
      <input type="text" id="TagsInput" class="form-control" mdbInput />
      <label for="TagsInput">Tags (Comma Seperated)</label>
    </div>
    <div class="md-form w-50 mx-auto">
      <button class="btn btn-info btn-block w-100 border-right" type="submit">Save</button>
    </div>
  </div>
  <div class="w-50 border-right p-2 h-100" id="svgHolder" [ngStyle]="{'background-image': 'url(/assets/engine.jpg)', 'background-repeat': 'no-repeat', 'background-size':'contain'}">
    <svg *ngFor="let component of blueprint.Components" height="784px" width="712px" style="position: absolute">
      <svg:polygon [attr.points]="TranslateCoordinates(component.Map)" style="fill: lime; stroke: purple; stroke-width: 1; opacity: 0.4" />
    </svg>
  </div>
  <div id="ComponentList" class="w-25 p-2 h-100">
    <div *ngFor="let component of blueprint.Components">
      <div>{{component.Name}}</div>
    </div>
  </div>
</div>
