<div class="row m-3">
  <h3 class="text-center w-50">Blueprint List</h3>
  <form class="form-inline md-form form-sm" *ngIf="blueprints">
    <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon>
    <input class="form-control ml-3 align-right" [(ngModel)]="blueprints.searchText" (keyup)="blueprints.applySearchText()" type="text" placeholder="Search" aria-label="Search" mdbInput  name="searchbox">
  </form>
</div>
<p *ngIf="!blueprints"><em>Loading...</em></p>
<div *ngIf="blueprints" class="w-75 mx-auto">
  <div class="row mb-3">
    <div *ngFor="let filter of blueprints.filters()" class="col-1">
      <div [ngClass]="[filter.active == 0 ? 'included' : filter.active == 1 ? 'excluded' : '', 'tag']">
        <div class="w-100 text-center"> {{ filter.tag }}</div>
        <div class="mx-auto w-50">
          <i (click)="blueprints.includeFilter(filter.tag)" class="fas fa-check"></i>
          <i (click)="blueprints.excludeFilter(filter.tag)" class="fas fa-times"></i>
        </div>
      </div>
    </div>
    <div (click)="blueprints.clearFilter()"> Clear </div>
  </div>
  <div class="row">
    <div *ngFor="let blueprint of blueprints.items()" [ngClass]="{'card w-responsive no-gutters col-md-2 m-1 p-0' : true, 'display' : blueprint.display}">
      <img src="/assets/{{ blueprint.image }}" class="card-img-top rounded mx-auto d-block" />
      <div class="card-body">
        <h3  [routerLink]="['/blueprint', blueprint.id]"> {{ blueprint.name}}</h3>
        <div class="card-text w-100">{{ blueprint.description }}</div>
      </div>
    </div>
  </div>
</div>
