<div class="row">
  <div class="bg-white mx-auto p-3 z-depth-1 rounded">
    <div *ngIf="!signingUp">
      <h3 class="h3-response mb-3">Log In</h3>
      <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" [(ngModel)]="model.username" name="username">
      <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" [(ngModel)]="model.password" name="password">
      <button class="btn btn-info btn-block my-4" type="submit" (click)="login()">Log In</button>
      <button class="btn btn-info btn-block my-4" type="submit" (click)="signingUp = true">Or Sign Up</button>
      <div class="mx-auto w-100" *ngIf="error == true" style="color:red">
        The username or password was incorrect
      </div>
    </div>
    <div *ngIf="signingUp">
      <div *ngIf="loading">Loading</div>
      <h3 class="h3-response mb-3">Sign Up</h3>
      <input type="text" id="signupEmail" class="form-control mb-4" placeholder="E-mail" [(ngModel)]="model.username" name="username">
      <input type="password" id="signupPassword" class="form-control mb-4" placeholder="Password" [(ngModel)]="model.password" name="password">
      <input type="password" id="signupConfirmPassword" class="form-control mb-4" placeholder="Confirm Password" [(ngModel)]="model.confirmPassword" name="confirmPassword">
      <button class="btn btn-info btn-block my-4" type="submit" (click)="signUp()">Sign Up</button>
      <button class="btn btn-info btn-block my-4" type="submit" (click)="signingUp = false">Or Log In</button>
      <div class="mx-auto w-100" *ngIf="signUpError" style="color: red">
        Username already in use
      </div>
    </div>
    <div *ngIf="model.loggedIn">
      Success!
    </div>
  </div>
</div>
